#Equipo h2, h5 {
    text-align: center;
}

#Equipo .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

#"articulos" {
    margin: 15px;
    
}

#Equipo img {
    width: 100%;
    max-width: 280px;
}